<html>

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="0080FF">
	<title>遊戲戰地指揮中心</title>

	<link href="../static/style.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/bootstrap-grid.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="Shortcut Icon" type="image/x-icon"
		href="https://cdn.discordapp.com/avatars/804699165295902761/e113864d1c386c3a1e67e5cafba5c7c9.webp?size=256">
	<!--Animation of Scroll https://michalsnik.github.io/aos/-->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="bg-dark text-white ">
	<script>
		AOS.init();
	</script>
	<center>
		{% for i, j in zip(Users, aosUser) %}
		<div class="box" data-aos="{{j}}">
			<img src="{{i.avatar.url}}" height="200" weight="200" />
			<h1>{{ i.name }}</h1>
		</div>
		{% endfor %}
	</center>
</body>

</html>